* {
	margin: 0;
	padding: 0;
}

header {
    background-color: #0D2137;
    display: flex;
    justify-content: space-between;
    align-items: center;

	color: #fff;

    width: 100%;
    height: 100px;
}

.company--name {
	display: flex;
	margin-left: 40px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.company--name > img{
	object-fit: contain;
	width: 70px;
	height: auto;
}

.company--name > span {
	font-size: 20px;
}

nav {
	display: flex;
	/* justify-content: space-around; */
	justify-content: center;
	align-items: center;

	margin-right: 40px;
}

nav > div {
	/* margin-top: auto;
	margin-bottom: auto; */
	margin-left: 40px;
	text-align: center;
	cursor: pointer;
}

/* .home--links {
	
} */

.cta--button {
	background-color: #E09132;
	padding: 15px 25px;

	color: #0D2137;
	font-size: 13px;
	font-weight: 600;

	border: none;
	border-radius: 20px;
}


.main--hero {
	background-color: #E09132;
	position: relative;

	height: 564px;
}

.main--column {
	display: column;
	position: absolute;
	top: 10%;
	left: 5%;
	z-index: 2;
	width: 50%;

}

.main--column > h1 {
	font-size: 70px;
}

.main--column > p {
	font-size: 25px;
	text-wrap: wrap;

	width: 450px;
}

.cta--box {
	margin-top: 20px;
}

.hero-cta--btn {
	background-color: #0D2137;
	color: #ffff;
	font-weight: 400;

	height: 50px;
	padding: 0 20px;

	border: none;
	border-radius: 30px;
}

.main--img {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.blue--box {
	/* background-color: #a4d5e3; */
	background: linear-gradient(to left, #a4d5e3 0%, #a4d5e3 45%, transparent 100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	/* z-index: -1; */
}

.brown--box {
	background: linear-gradient(to left, #705043 0%, #705043 45%, transparent 100%);
	/* background-color: #705043; */
	position: absolute;
	top: 0;
	width: 100%;
	height: 264px;
	/* z-index: -1; */
}




.services--head {
	text-align: center;
	font-size: 50px;
	color: #0D2137;
	margin: 100px 0 30px 0;
}

.services--section {
	/* background-color: #705043; */
	/* Insert Box shadowsa */
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 100px;
/* 
	border-bottom-width: 70%;
	border-bottom-style: dashed;
	border-bottom: #0D2137 5px solid; */
	
}

.services--card {
	display: flex;
	flex-direction: column;

	background-color: #0D2137;
	color: #fff;
	border: none;
	border-radius: 5px;

	margin: 0 auto;
	width: 300px;
	padding: 10px;
}

.services--card > img {
	object-fit: cover;
	width: 100%;
	height: 70%;
}

.services--card > p {
	margin: 13px;
}

hr {
	border: none;
	background-color: #0D2137;
	margin: 0 auto;
	width: 70%;
	height: 5px;
	
}



.sub--hero {
	margin: 100px auto;
	/* background-color: #0D2137; */
	/* background-color: #a4d5e3; */
	/* margin: 20px; */
	padding: 0 0 0 10px;

	position: relative;
	color: #fff;
	/* color: #21669b; */
}

.sub--hero > h2 {
	font-size: 40px;
	text-align: center;
	padding: 20px 0;
	color: #E09132;
}

.about--box {
	display: flex;
}

.about--box > img {
	width: 400px;
	/* padding: 20px; */
	object-fit: contain;

	border: #0D2137 1px solid;
	/* border-radius: 10px; */
}

.about--box > p {
	font-size: 25px;
	padding: 30px;
	/* text-align: justify; */ /* convension is to dont */
}

.window--box {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background-color: #0D2137;
	width: 80%;
	height: 500px;	
}




.feedback {
	background-color: #a0aef5;
	padding: 20px;
	margin-top: 50px;
}

.feedback > h3 {
	text-align: center;
	font-size: 30px;
	color: #0D2137;
}

.testimonials {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	justify-content: space-around;
	margin: 20px 0;
	color: #0D2137;
}

.card {
	background-color: #2e77ae;
	padding: 10px;
	height: fit-content;
	border: none;
	border-radius: 10px;
	/* text-align: center; */
	/* margin: ; */
}

.customer--name {
	text-align: center;
	margin: 10px;
}

.card > p {
	height: 200px;
}



.faqs--section {
	margin: 50px auto;
}

.faqs--section > h4 {
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	color: #0b446f;
	text-decoration: underline;
}

.faqs {
	display: grid;
	grid-template-columns: 280px 280px 280px;
	gap: 50px;
	justify-content: center;
	/* margin: 0 auto; */
	/* align-items: center; */
}

.faq--card {
	background-color: #a4d5e3;
	padding: 20px;
	height: 200px;
	color: #21669b;

	border: none;
	border-radius: 10px;
}

.question {
	text-align: center;
	margin: 10px 0;
}



