* {
	margin: 0;
	padding: 0;
}

header {
    background-color: #0D2137;
    display: flex;
    justify-content: space-between;
    align-items: center;

	color: #fff;

    width: 100%;
    height: 100px;
}

.company--name {
	display: flex;
	margin-left: 2%;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.company--name > img{
	object-fit: contain;
	width: 70px;
	height: auto;
}

.company--name > span {
	font-size: 20px;
	transition: 0.001s;
}

.company--name:hover {
	color: #5b99c7;
}

.company--name:active {
	color: #E09132;
}

nav {
	display: flex;
	/* justify-content: space-around; */
	justify-content: center;
	align-items: center;

	margin-right: 40px;
}

nav > div {
	/* margin-top: auto;
	margin-bottom: auto; */
	margin-left: 40px;
	text-align: center;
	cursor: pointer;
	transition: 0.001s;
}

nav > div:hover {
	color: #E09132;
}

nav > div:active {
	color: #5b99c7;
}

/* .home--links {
	
} */

.cta--button {
	background-color: #E09132;
	padding: 15px 25px;

	color: #0D2137;
	font-size: 13px;
	font-weight: 600;

	border: none;
	border-radius: 20px;

	/* box-shadow: #a4d5e3 -1px -1px 30px 3px; */
	transition: 0.001s;
}

.cta--button:hover {
	background-color: #21669b;
	box-shadow: #a4d5e3 -1px -1px 10px 3px;
	color: #fff;
}

.cta--button:active {
	background-color: #a4d5e3;
	box-shadow: #a4d5e3 -1px -1px 30px 3px;
	color: #0D2137;
}


.main--hero {
	background-color: #E09132;
	position: relative;

	height: 564px;
}

.main--column {
	display: column;
	position: absolute;
	top: 10%;
	left: 5%;
	z-index: 2;
	width: 50%;

}

.main--column > h1 {
	font-size: 70px;
}

.main--column > p {
	font-size: 25px;
	text-wrap: wrap;

	width: 450px;
}

.cta--box {
	margin-top: 20px;
}

.hero-cta--btn {
	background-color: #0D2137;
	color: #ffff;
	font-weight: 400;

	height: 50px;
	padding: 0 20px;

	border: none;
	border-radius: 30px;
	transition: 0.1s;
}

.hero-cta--btn:hover {
	background-color: #a0aef5;
	color: #0D2137;
	border: 3px #0D2137 solid;
	/* width: 250px; */
}

.hero-cta--btn:active {
	background-color: #0D2137;
	color: #fff;
	border: 3px #a0aef5 solid;
}

.main--img {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.blue--box {
	/* background-color: #a4d5e3; */
	background: linear-gradient(to left, #a4d5e3 0%, #a4d5e3 45%, transparent 100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	/* z-index: -1; */
}

.brown--box {
	background: linear-gradient(to left, #705043 0%, #705043 45%, transparent 100%);
	/* background-color: #705043; */
	position: absolute;
	top: 0;
	width: 100%;
	height: 264px;
	/* z-index: -1; */
}




.services--head {
	text-align: center;
	font-size: 50px;
	color: #0D2137;
	margin: 100px 0 30px 0;
}

.services--section {
	/* background-color: #705043; */
	/* Insert Box shadowsa */
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 100px;
/* 
	border-bottom-width: 70%;
	border-bottom-style: dashed;
	border-bottom: #0D2137 5px solid; */
	
}

.services--card {
	display: flex;
	flex-direction: column;

	background-color: #0D2137;
	color: #fff;
	border: none;
	border-radius: 5px;

	margin: 0 auto;
	width: 300px;
	padding: 10px;
}

.services--card > img {
	object-fit: cover;
	width: 100%;
	height: 70%;
}

.services--card > img:hover {
	/* width: 120%; */
	/* object-fit: scale-down; */
	/* cursor: -moz-grab; */
}

.services--card > p {
	margin: 13px;
}

hr {
	border: none;
	background-color: #0D2137;
	margin: 0 auto;
	width: 70%;
	height: 5px;
	
}



.sub--hero {
	margin: 100px auto;
	/* background-color: #0D2137; */
	/* background-color: #a4d5e3; */
	/* margin: 20px; */
	padding: 0 0 0 10px;

	position: relative;
	color: #fff;
	/* color: #21669b; */
}

.sub--hero > h2 {
	font-size: 40px;
	text-align: center;
	padding: 20px 0;
	color: #E09132;
}

.about--box {
	display: flex;
}

.about--box > img {
	width: 400px;
	/* padding: 20px; */
	object-fit: contain;

	border: #0D2137 1px solid;
	/* border-radius: 10px; */
}

.about--box > p {
	font-size: 25px;
	padding: 30px;
	/* text-align: justify; */ /* convension is to dont */
}

.window--box {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background-color: #0D2137;
	width: 80%;
	height: 500px;	
}




.feedback {
	background-color: #a0aef5;
	padding: 20px;
	margin-top: 50px;
}

.feedback > h3 {
	text-align: center;
	font-size: 30px;
	color: #0D2137;
}

.testimonials {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	justify-content: space-around;
	margin: 20px 0;
	color: #0D2137;
}

.card {
	background-color: #2e77ae;
	padding: 10px;
	height: fit-content;
	border: none;
	border-radius: 10px;
	/* text-align: center; */
	/* margin: ; */
}

.customer--name {
	text-align: center;
	margin: 10px;
}

.card > p {
	height: 200px;
}



.faqs--section {
	margin: 50px auto;
}

.faqs--section > h4 {
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	color: #0b446f;
	text-decoration: underline;
}

.faqs {
	display: grid;
	grid-template-columns: 280px 280px 280px;
	gap: 50px;
	justify-content: center;
	/* margin: 0 auto; */
	/* align-items: center; */
}

.faq--card {
	background-color: #a4d5e3;
	padding: 20px;
	height: 200px;
	color: #21669b;

	border: none;
	border-radius: 10px;
}

.question {
	text-align: center;
	margin: 10px 0;
}




.form--head {
	text-align: center;
	font-size: 30px;
	color: #0D2137;
}

form {
	background-color: #a0aef5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;

	width: 70%;
	margin: auto;
	padding: 0 50px;
	height: 400px;

	border-radius: 10px;
}

form > div {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.vert--line {
	border-left: #0D2137 2px solid;
}

label {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
	color: #0D2137;
}

input {
	height: 50px;
	padding: 2px 10px;
	font-size: 20px;
	color: #0D2137;
	background-color: #5b99c7;
	border: #0D2137 2px solid;
	border-radius: 5px;
}

form > button {
	background-color: #E09132;
	color: #0D2137;
	font-weight: 600;
	width: 150px;
	height: 45px;
	border: #0D2137 1.5px solid;
	border-radius: 5px;
	font-size: 20px;
	margin: 0 auto;
	grid-column: span 2;
	/* insert box-shadow: ; */
}

form > button:hover {
	background-color: #0D2137;
	color: #E09132;
	border: 3px #0b446f solid;
	/* width: 250px; */
}

form > button:active {
	background-color: #0D2137;
	color: #fff;
	border: 3px #a0aef5 solid;
}




.footer {
	display: flex;
	margin: 60px auto;
	margin-bottom: 0;
	/* width: 100%; */
	padding: 10px;
	background-color: #0D2137;
	color: #5b99c7;
}

.company--about {
	width: 40%;
}

.company--about > p {
	width: 60%;
}

.signage {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	font-size: 35px;
	margin-bottom: 10px;
	cursor: pointer;
}

.logo {
	width: 20%;
}

.social--media {
	display: flex;
	margin: 15px 0;
	
}

.social--media--icon {
	width: 35px;
	margin-right: 10%;
	cursor: pointer;
}

.footer > .more--info {
	display: flex;
	flex-direction: column;
	/* justify-content: ; */
	width: 20%;
}

.more--info > ul {
	height: 60%;
}

.more--info > h5 {
	/* text-align: center; */
	margin: 10px 0;
	font-size: 18px;
}


li {
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

li:hover {
	text-decoration: underline;
}

.footer--cta {
	font-size: 15px;
}